aiohttp==3.5.4
amqp==1.4.9
anyjson==0.3.3
async-timeout==3.0.1
attrs==19.1.0
Babel==2.7.0
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2019.6.16
chardet==3.0.4
Django==2.2.10
django-celery==3.2.2
django-redis==4.10.0
django-simpleui==2.1.4.619
djangorestframework==3.10.1
flower==0.9.3
idna==2.8
idna-ssl==1.1.0
import-string==0.1.0
kombu==3.0.37
lxml==3.7.2
multidict==4.5.2
mysqlclient==1.4.2.post1
Pillow==6.0.0
PyMySQL==0.9.3
pytz==2019.1
redis==2.10.6
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
tornado==5.1.1
typing-extensions==3.7.4
urllib3==1.25.3
yarl==1.3.0
