{% extends 'base_notindex.html' %}

{% load staticfiles %}
{% block head %}
    <title>{{ spider.website_name }}</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/scriptlist.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <script src="{% static '/js/scriptlist.js' %}"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        $(document).ready(function () {
            $("#script-test-btn").click(function () {
                $(".script-result").show();
            })
        })
    </script>
{% endblock %}

{% block mainleft %}
    <div class="script-list">
        <div class="script-type">
            <div class="script-type-title">
                <label>脚本类型</label>
            </div>
            <div class="script-type-list1">
                {% for spider_type in spider_type_list %}
                    <a href="/script-list/{{ spider_type.pk }}/" class="script-tag">{{ spider_type.name }}</a>
                {% endfor %}
            </div>

        </div>
        <div class="script-list-top">
            <label>脚本详情&gt;&gt;&gt;</label>
        </div>
        <div class="script-detail-title">
            {{ spider.website_name }}
        </div>
        <div class="script-detail-info">
            <label>分类：</label>
            <a href="/script-list/{{ spider.spider_type.pk }}">{{ spider.spider_type.name }}</a>
            <label id="author">作者：</label>
            <label>{{ spider.author }}</label>
            <label id="viewcount"><i class="fa fa-eye" aria-hidden="true"></i>浏览：</label>
            <label>{{ spider.view_num }}</label>
            <label id="script-detail-info-time">{{ spider.add_time }}</label>
        </div>
        <pre class="script-content">
					<code class="python">
                     {{ spider_content }}
					</code>
				</pre>
        <form action="" id="script-test">
            {% if spider.spider_status == "failed" %}
                <label style="color: #FF0000;margin-left: 20px;">很抱歉！我们监测到此脚本在运行中多次出现问题，我们已经联系脚本作者，此脚本暂停测试功能。</label>
            {% endif %}
            {% if spider.spider_status == "success" %}
                <fieldset>
                    <legend>脚本测试</legend>
                    {% if spider.spider_status == "error" %}
                        <label style="color: #FF8C00;font-size: 12px;">我们监测到此脚本在运行中出现一些问题，不过这不影响您的测试。如果您在测试中多次出现未知错误请联系管理员。</label>
                        <br><br>
                    {% endif %}
                    <label>输入搜索词：</label>
                    <input type="text" name="wd" id="wd" required>
                    <button type="button" id="script-test-btn">提交</button>
                    <br/>
                    <pre class="script-result">
							<label>测试结果如下：</label>
							<code class="json" id="test-result">

							</code>
						</pre>
                </fieldset>
            {% endif %}
            {% if spider.spider_status == "error" %}
                <fieldset>
                    <legend>脚本测试</legend>
                    <label style="color: #FF8C00;font-size: 12px;">我们监测到此脚本在运行中出现一些问题，不过这不影响您的测试。如果您在测试中多次出现未知错误请联系管理员。</label><br><br>
                    <label>输入搜索词：</label>
                    <input type="text" name="wd" id="wd" required>
                    <button type="button" id="script-test-btn">提交</button>
                    <br/>
                    <pre class="script-result">
							<label>测试结果如下：</label>
							<code class="json" id="test-result">

							</code>
						</pre>
                </fieldset>
            {% endif %}
        </form>
        <div class="like">
            {% if like %}
                <button class="like-btn"><i class="fa fa-thumbs-o-up fa-4x" style="color: #32CD32;"></i></button>
                <br/>
                <label class="like-label">已点赞</label>

            {% else %}
                <button class="like-btn"><i class="fa fa-thumbs-o-up fa-4x"></i></button>
                <br/>
                <label class="like-label">点赞</label>
            {% endif %}
        </div>
        <hr/>
        <div class="script-comments">
            <div class="script-comments-list">
                {% for comments in comments_list %}
                    <div class="script-comments-detail">
                        <img src="/media/{{ comments.comments_img }}"/>
                        <label class="script-comments-username">{{ comments.comments_name }}：</label>
                        <label class="script-comments-detail-content">{{ comments.content }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{ comments.add_time }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{{ forloop.counter }}楼)</label>
                        <hr align="center"/>
                    </div>
                {% endfor %}
            </div>
            <form action="" class="script-comments-form">
                <input type="text" id="script-content" placeholder="写入你的评论..."/>
                <label class="form-data" for="script-content">评论内容：</label>
                <textarea id="script-content-true" class="form-data required" rows="4" cols="90" maxlength="300"
                          placeholder="写入你的评论..." name="comments_content" required="required"></textarea>
                <br class="form-data"/>
                <label class="form-data" for="script-comment-username">昵称：</label>
                <input class="form-data required" type="text" placeholder="写入你的昵称..." name="comments_name" id="comments_name" required="required"/>
                <label class="form-data" for="script-comment-username">邮箱：</label>
                <input class="form-data required" type="email" placeholder="写入你的邮箱..." name="comments_email"
                       id="comments_email" required="required"/>
                <br class="form-data"/>
                <button class="form-data" type="button" id="comments-btn">评论</button>
            </form>
        </div>
    </div>
{% endblock %}
