{% extends 'base_notindex.html' %}

{% load staticfiles %}
{% block head %}
    <title>{{ this_spider_type }}</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/scriptlist.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <script src="{% static '/js/scriptlist.js' %}"></script>
    <script>
        hljs.initHighlightingOnLoad();
        $(document).ready(function () {
            $("#script-test-btn").click(function () {
                $(".script-result").show();
            })
        })
    </script>
{% endblock %}

    {% block mainleft %}
                <div class="script-list">
        <div class="script-type">
            <div class="script-type-title">
                <label>脚本类型</label>
            </div>
            <div class="script-type-list1">
                {% for spider_type in spider_type_list %}
                    <a href="/script-list/{{ forloop.counter }}" class="script-tag">{{ spider_type.name }}</a>
                {% endfor %}

            </div>

        </div>
        <div class="script-list-top">
            <label>{{ this_spider_type }}脚本&gt;&gt;&gt;</label>
        </div>
        {% for spider in spider_list %}
            <div class="script-info">
                <img src="/media/{{ spider.website_img }}"/>
                <div class="script-describe">
                    <div class="script-title">
                        <a href="/script-detail/{{ spider.pk }}">{{ spider.website_name }}</a>
                    </div>
                    <div class="script-info-describe">
                        <div class="detaill">
                            <a href="/script-list/{{ spider.spider_type.pk }}">{{ spider.spider_type }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                                href="{{ spider.website_address }}">{{ spider.website_address }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;{{ spider.author }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ spider.add_time }}
                        </div>
                        <div class="detailr">
                            <i class="fa fa-thumbs-o-up" style="color: #909399;"></i>{{ spider.like_num }}
                            <i class="fa fa-commenting" aria-hidden="true"></i>{{ spider.comments_num }}
                            <i class="fa fa-eye" aria-hidden="true"></i>{{ spider.view_num }}
                        </div>

                    </div>
                    <p class="detail">
                        &nbsp;&nbsp;&nbsp;&nbsp;{{ spider.function_introduce }}
                    </p>
                    <hr>
                </div>
            </div>
        {% endfor %}



    </div>
    {% endblock %}


