{% extends 'base_notindex.html' %}

{% load staticfiles %}
{% block head %}
    <title>脚本上传</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/upload.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <script src="{% static '/js/upload.js' %}"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        $(document).ready(function () {
            $("#script-test-btn").click(function () {
                $(".script-result").show();
            })
        })
    </script>
{% endblock %}

{% block mainleft %}
    <div class="upload">
        <form class="attention">
            <fieldset>
                <legend>注意信息</legend>
                <div class="script-format">
                    <label>脚本格式：</label><br/>
                    <label>1、您的脚本文件必须以这样的格式命名：Spider_(脚本应用网站).py&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例：Spider_80s.py</label><br/>
                    <label>2、您的脚本文件可以包括多个类，但是最顶层的类应该和脚本文件名完全相同&nbsp;&nbsp;&nbsp;&nbsp;例：class Spider_80s</label><br/>
                    <label>3、您可以在类内定义多个方法，但是返回数据的方法名必须为 output_data&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例：def
                        output_data(response,id)</label><br/>
                    <label>4、本系统代理功能暂未开启，如果有需要请在脚本内自行加入代理数据</label><br/>
                    <label>5、您应该严格依照下方数据格式进行数据的返回</label>
                </div>
                <div class="script-type-btn">

                    <label>查看脚本应返回数据格式</label>
                    {% for spider_type in spider_type_list %}
                        <button type="button" class="type-btn btn{{ forloop.counter }} ">{{ spider_type.name }}</button>

                    {% endfor %}
                    {% for spider_type in spider_type_list %}
                        <pre class="data-format btn{{ forloop.counter | linebreaksbr }}">
								<code class="json">
{{ spider_type.data_format }}
								</code>
							</pre>
                    {% endfor %}

                </div>

            </fieldset>
        </form>
        <div class="upload-script">
            <label class="upload-script-label">如果您已完整阅读过以上注意事项并按照规定格式编写好脚本，那么您现在可以上传您的文件</label><br/>
            <form class="upload-script" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="script-file" type="file" name="file" class="script-files"/>
                <fieldset>
                    <legend>脚本上传</legend>
                    <label>脚本文件内容如下：</label>
                    <pre class="script-show">
								<code class="python">

								</code>
							</pre>
                    <label>请确认脚本内容并填写一下信息：</label><br/>
                    <label>请选择您的脚本所属类型</label><br/>
                    <select id="script-type" name="script-type" class="requird">
                        {% for spider_type in spider_type_list %}
                            <option value="{{ spider_type.id }}">{{ spider_type.name }}</option>
                        {% endfor %}
                    </select><br/>

                    <input id="website_address" class="requird" type="text" name="website_address" placeholder="脚本执行对象网站,如:https://www.80s.la"
                           required/><br/>
                    <label>脚本执行网站首页截图：</label>
                    <input id="website_img" class="requird" type="file" name="website_img" required/>
                    <input id="website_name" class="requird" type="text" name="website_name" placeholder="执行网站名称，如：80s电影网" required/><br/>
                    <input id="author" class="requird" type="text" name="author" placeholder="您的昵称,如:菜菜鸡" required/><br/>
                    <input id="author_email" class="requird" type="email" name="author_email" placeholder="你的邮箱,如:weibw162@163.com" required/><br/>
                    <input id="checkbox" class="requird" type="radio" name="allowed_email"/><label class="send-email">(当有用户对您的脚本评论时是否允许系统给您发送邮件)</label><br/>
                    <textarea id="function_introduce" class="form-data requird" name="function_introduce" rows="4" cols="90" maxlength="300"
                              placeholder="脚本的具体功能..." required></textarea><br/>
                <div>
                    <input id="vercode-content" class="form-data requird" name="vercode" type="text" style="width: 120px;height: 20px;float: left;" placeholder="验证码" required>
                    <img id="vercode-img" src="/vercode?" alt="点击换一张" style="margin-top: 10px;margin-left: 5px;float: left;">
                    <label style="color: rgba(0, 0, 0, 0.6);font-size: 12px;margin-left: 5px;margin-top: 20px;float: left;">(看不清？可以点击图片更换。注意：验证码的填写严格遵守大小写)</label><br>
                </div>
                    <br>
                    <button type="button" id="submit-btn">确认上传</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

