{% extends 'base_notindex.html' %}

{% load staticfiles %}
{% block head %}
    <title>脚本上传成功</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/upload.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <script src="{% static '/js/upload.js' %}"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        $(document).ready(function () {
            $("#script-test-btn").click(function () {
                $(".script-result").show();
            })
        })
        var t = 5;
        setInterval("refer()", 1000);

        function refer() {
            if (t == 0) {
                location = "/pro"
            }
            document.getElementById('success_span').innerHTML = t; // 显示倒计时
            t--;
        }
    </script>
{% endblock %}

{% block mainleft %}
    <div class="upload_success">
        <label id="success_label1">脚本上传成功！</label><br/>
        <label id="success_label2">请耐心等待管理员审核...</label><br/>
        <label id="success_label3">
            <span id="success_span"></span>
            秒后跳转到首页
        </label>
    </div>
{% endblock %}


