{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>脚本上传成功</title>
		<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{%  static '/css/upload.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/font-awesome-4.7.0/css/font-awesome.min.css' %}" />
		<script src="{% static '/js/upload.js' %}"></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
		<script src="{% static '/js/scroll.js' %}"></script>
		<script>
			hljs.initHighlightingOnLoad();
			$(document).ready(function() {
				$("#script-test-btn").click(function() {
					$(".script-result").show();
				})
			})
		</script>
		<script type="text/javascript">
			$(function() {
				$('.myscroll').myScroll({
					speed: 40, //数值越大，速度越慢
					rowHeight: 26 //li的高度
				});
				$('.comments').myScroll({
					speed: 40, //数值越大，速度越慢
					rowHeight: 90 //li的高度
				});
				$('.script-list-right').myScroll({
					speed: 40, //数值越大，速度越慢
					rowHeight: 30 //li的高度
				});
			});

			var t = 5;
			setInterval("refer()", 1000);

			function refer() {
				if (t == 0) {
					location = "/"
				}
				document.getElementById('success_span').innerHTML = t; // 显示倒计时 
				t--;
			}
		</script>
	</head>
	<body>
		<div class="head">
			<ul>
				<li><a href="index.html">网站首页</a></li>
				<li>
					<div class="dropdown">
						<a class="drop-span" href="javascript:void(0)">资源搜索</a>
						<div class="dropdown-content">
							<div class="search-div"><a href="/">电影搜索</a></div>
							<div class="search-div"><a href="/">云盘搜索</a></div>
							<div class="search-div"><a href="/">小说搜索</a></div>
							<div class="search-div"><a href="/">音乐搜索</a></div>
						</div>
					</div>
				</li>
				<li><a href="/">我的博客</a></li>
				<li><a href="/">GitHub<i class="fa fa-github" aria-hidden="true"></i></a></li>
				<li><a href="/">给我留言</a></li>
			</ul>
		</div>
		<div class="main">
			<div class="upload_success">
				<label id="success_label1">脚本上传成功！</label><br />
				<label id="success_label2">请耐心等待管理员审核...</label><br />
				<label id="success_label3">
					<span id="success_span"></span>
					秒后跳转到首页
					</label>
			</div>
			<div class="box1">
				<div class="box1-title">
					<label><i class="fa fa-code"></i>脚本运行情况</label>
				</div>
				<div class="script-list-right">
					<ul>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">80s电影网</a>&nbsp;&nbsp;|&nbsp;&nbsp;电影&nbsp;&nbsp;|&nbsp;&nbsp;菜菜鸡&nbsp;&nbsp;|&nbsp;&nbsp;23day&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-check-circle-o">正在运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">QQ音乐</a>&nbsp;&nbsp;|&nbsp;&nbsp;音乐&nbsp;&nbsp;|&nbsp;&nbsp;小白白&nbsp;&nbsp;|&nbsp;&nbsp;16day|&nbsp;&nbsp;
								<i class="fa fa-times-circle-o">停止运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">起点中文网</a>&nbsp;&nbsp;|&nbsp;&nbsp;小说&nbsp;&nbsp;|&nbsp;&nbsp;超级小扒手&nbsp;&nbsp;|&nbsp;&nbsp;6day|&nbsp;&nbsp;
								<i class="fa fa-exclamation-circle">出现意外</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">80s电影网</a>&nbsp;&nbsp;|&nbsp;&nbsp;电影&nbsp;&nbsp;|&nbsp;&nbsp;菜菜鸡&nbsp;&nbsp;|&nbsp;&nbsp;23day&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-check-circle-o">正在运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">80s电影网</a>&nbsp;&nbsp;|&nbsp;&nbsp;电影&nbsp;&nbsp;|&nbsp;&nbsp;菜菜鸡&nbsp;&nbsp;|&nbsp;&nbsp;23day&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-check-circle-o">正在运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">80s电影网</a>&nbsp;&nbsp;|&nbsp;&nbsp;电影&nbsp;&nbsp;|&nbsp;&nbsp;菜菜鸡&nbsp;&nbsp;|&nbsp;&nbsp;23day&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-check-circle-o">正在运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">80s电影网</a>&nbsp;&nbsp;|&nbsp;&nbsp;电影&nbsp;&nbsp;|&nbsp;&nbsp;菜菜鸡&nbsp;&nbsp;|&nbsp;&nbsp;23day&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-check-circle-o">正在运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">80s电影网</a>&nbsp;&nbsp;|&nbsp;&nbsp;电影&nbsp;&nbsp;|&nbsp;&nbsp;菜菜鸡&nbsp;&nbsp;|&nbsp;&nbsp;23day&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-check-circle-o">正在运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">80s电影网</a>&nbsp;&nbsp;|&nbsp;&nbsp;电影&nbsp;&nbsp;|&nbsp;&nbsp;菜菜鸡&nbsp;&nbsp;|&nbsp;&nbsp;23day&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-check-circle-o">正在运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">80s电影网</a>&nbsp;&nbsp;|&nbsp;&nbsp;电影&nbsp;&nbsp;|&nbsp;&nbsp;菜菜鸡&nbsp;&nbsp;|&nbsp;&nbsp;23day&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-check-circle-o">正在运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">80s电影网</a>&nbsp;&nbsp;|&nbsp;&nbsp;电影&nbsp;&nbsp;|&nbsp;&nbsp;菜菜鸡&nbsp;&nbsp;|&nbsp;&nbsp;23day&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-check-circle-o">正在运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">80s电影网</a>&nbsp;&nbsp;|&nbsp;&nbsp;电影&nbsp;&nbsp;|&nbsp;&nbsp;菜菜鸡&nbsp;&nbsp;|&nbsp;&nbsp;23day&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-check-circle-o">正在运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">QQ音乐</a>&nbsp;&nbsp;|&nbsp;&nbsp;音乐&nbsp;&nbsp;|&nbsp;&nbsp;小白白&nbsp;&nbsp;|&nbsp;&nbsp;16day|&nbsp;&nbsp;
								<i class="fa fa-times-circle-o">停止运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">80s电影网</a>&nbsp;&nbsp;|&nbsp;&nbsp;电影&nbsp;&nbsp;|&nbsp;&nbsp;菜菜鸡&nbsp;&nbsp;|&nbsp;&nbsp;23day&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-check-circle-o">正在运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">QQ音乐</a>&nbsp;&nbsp;|&nbsp;&nbsp;音乐&nbsp;&nbsp;|&nbsp;&nbsp;小白白&nbsp;&nbsp;|&nbsp;&nbsp;16day|&nbsp;&nbsp;
								<i class="fa fa-times-circle-o">停止运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">80s电影网</a>&nbsp;&nbsp;|&nbsp;&nbsp;电影&nbsp;&nbsp;|&nbsp;&nbsp;菜菜鸡&nbsp;&nbsp;|&nbsp;&nbsp;23day&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-check-circle-o">正在运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">QQ音乐</a>&nbsp;&nbsp;|&nbsp;&nbsp;音乐&nbsp;&nbsp;|&nbsp;&nbsp;小白白&nbsp;&nbsp;|&nbsp;&nbsp;16day|&nbsp;&nbsp;
								<i class="fa fa-times-circle-o">停止运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">80s电影网</a>&nbsp;&nbsp;|&nbsp;&nbsp;电影&nbsp;&nbsp;|&nbsp;&nbsp;菜菜鸡&nbsp;&nbsp;|&nbsp;&nbsp;23day&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-check-circle-o">正在运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">QQ音乐</a>&nbsp;&nbsp;|&nbsp;&nbsp;音乐&nbsp;&nbsp;|&nbsp;&nbsp;小白白&nbsp;&nbsp;|&nbsp;&nbsp;16day|&nbsp;&nbsp;
								<i class="fa fa-times-circle-o">停止运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">QQ音乐</a>&nbsp;&nbsp;|&nbsp;&nbsp;音乐&nbsp;&nbsp;|&nbsp;&nbsp;小白白&nbsp;&nbsp;|&nbsp;&nbsp;16day|&nbsp;&nbsp;
								<i class="fa fa-times-circle-o">停止运行</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">起点中文网</a>&nbsp;&nbsp;|&nbsp;&nbsp;小说&nbsp;&nbsp;|&nbsp;&nbsp;超级小扒手&nbsp;&nbsp;|&nbsp;&nbsp;6day|&nbsp;&nbsp;
								<i class="fa fa-exclamation-circle">出现意外</i>
							</div>
						</li>
						<li>
							<div class="script-execution">
								&nbsp;&nbsp;<a href="https://www.80s.com">起点中文网</a>&nbsp;&nbsp;|&nbsp;&nbsp;小说&nbsp;&nbsp;|&nbsp;&nbsp;超级小扒手&nbsp;&nbsp;|&nbsp;&nbsp;6day|&nbsp;&nbsp;
								<i class="fa fa-exclamation-circle">出现意外</i>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="box2">
				<div class="box1-title">
					<label><i class="fa fa-commenting-o"></i>最新评论</label>
				</div>
				<div class="comments">
					<ul>
						<li>
							<div class="comments-info">
								<div class="comments-title">
									<label class="comments-name">菜菜鸡</label>
									&nbsp;&nbsp;评论&nbsp;&nbsp;
									<a href="/">80s电影网</a>

									<label class="comments-time">2019-6-3 12:34:18</label>

								</div>

								<div class="comments-detail">
									你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，
								</div>
								<hr />
							</div>
						</li>
						<li>
							<div class="comments-info">
								<div class="comments-title">
									<label class="comments-name">菜菜鸡</label>
									&nbsp;&nbsp;评论&nbsp;&nbsp;
									<a href="/">80s电影网</a>

									<label class="comments-time">2019-6-3 12:34:18</label>

								</div>

								<div class="comments-detail">
									你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，
								</div>
								<hr />
							</div>
						</li>
						<li>
							<div class="comments-info">
								<div class="comments-title">
									<label class="comments-name">菜菜鸡</label>
									&nbsp;&nbsp;评论&nbsp;&nbsp;
									<a href="/">80s电影网</a>

									<label class="comments-time">2019-6-3 12:34:18</label>

								</div>

								<div class="comments-detail">
									你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，
								</div>
								<hr />
							</div>
						</li>
						<li>
							<div class="comments-info">
								<div class="comments-title">
									<label class="comments-name">菜菜鸡</label>
									&nbsp;&nbsp;评论&nbsp;&nbsp;
									<a href="/">80s电影网</a>

									<label class="comments-time">2019-6-3 12:34:18</label>

								</div>

								<div class="comments-detail">
									你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，
								</div>
								<hr />
							</div>
						</li>
						<li>
							<div class="comments-info">
								<div class="comments-title">
									<label class="comments-name">菜菜鸡</label>
									&nbsp;&nbsp;评论&nbsp;&nbsp;
									<a href="/">80s电影网</a>

									<label class="comments-time">2019-6-3 12:34:18</label>

								</div>

								<div class="comments-detail">
									你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，
								</div>
								<hr />
							</div>
						</li>
						<li>
							<div class="comments-info">
								<div class="comments-title">
									<label class="comments-name">菜菜鸡</label>
									&nbsp;&nbsp;评论&nbsp;&nbsp;
									<a href="/">80s电影网</a>

									<label class="comments-time">2019-6-3 12:34:18</label>

								</div>

								<div class="comments-detail">
									你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，
								</div>
								<hr />
							</div>
						</li>
						<li>
							<div class="comments-info">
								<div class="comments-title">
									<label class="comments-name">菜菜鸡</label>
									&nbsp;&nbsp;评论&nbsp;&nbsp;
									<a href="/">80s电影网</a>

									<label class="comments-time">2019-6-3 12:34:18</label>

								</div>

								<div class="comments-detail">
									你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，
								</div>
								<hr />
							</div>
						</li>
						<li>
							<div class="comments-info">
								<div class="comments-title">
									<label class="comments-name">菜菜鸡</label>
									&nbsp;&nbsp;评论&nbsp;&nbsp;
									<a href="/">80s电影网</a>

									<label class="comments-time">2019-6-3 12:34:18</label>

								</div>

								<div class="comments-detail">
									你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，你这个类出了点问题，
								</div>
								<hr />
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="box3">
				<div class="box1-title">
					<label><i class="fa fa-gear"></i>代理展示</label>
				</div>
				<div class="myscroll">
					<ul>
						<li>47.98.174.153:8118@HTTP#[未知]浙江省杭州市 </li>
						<li>111.231.24.186:808@HTTP#[未知]上海市</li>
						<li>52.83.198.227:3128@HTTP#[透明]宁夏中卫 </li>
						<li>119.179.142.253:8060@HTTP#[未知]山东省 </li>
						<li>222.162.170.242:80@HTTP#[未知]吉林省吉林市</li>
						<li>222.95.171.193:8118@HTTP#[普匿]江苏省南京市 </li>
						<li>114.67.235.233:3128@HTTP#[未知]北京市 </li>
						<li>119.130.134.141:8888@HTTP#[未知]广东省广州市</li>
						<li>111.206.6.101:80@HTTP#[高匿]北京市 </li>
						<li>218.58.193.98:8060@HTTP#[未知]山东省威海市</li>
						<li>47.97.177.53:8888@HTTP#[未知]浙江省杭州市</li>
						<li>222.95.20.34:61234@HTTP#[普匿]江苏省南京市白下区 </li>
						<li>113.140.1.82:53281@HTTP#[未知]陕西省西安市 </li>
						<li>119.179.179.208:8060@HTTP#[未知]山东省 </li>
						<li>27.154.34.146:58614@HTTP#[未知]福建省厦门市</li>
						<li>49.51.68.122:1080@HTTP#[未知]上海市浦东新区 </li>
						<li>121.204.150.97:8118@HTTP#[未知]福建省厦门市</li>
						<li>182.34.32.147:9999@HTTP#[未知]山东省烟台市</li>
						<li>112.247.180.37:8060@HTTP#[未知]山东省威海市</li>
						<li>117.149.12.242:8060@HTTP#[未知]浙江省金华市</li>
						<li>106.15.231.182:80@HTTP#[未知]北京市 </li>
						<li>58.21.132.57:8080@HTTP#[未知]吉林省 </li>
						<li>140.143.142.14:1080@HTTP#[未知]中国</li>
						<li>139.129.207.72:808@HTTP#[未知]北京市 </li>
						<li>112.65.52.28:9000@HTTP#[未知]上海市徐汇区 </li>
						<li>119.179.134.103:8060@HTTP#[未知]山东省 </li>
						<li>115.200.211.64:8118@HTTP#[普匿]浙江省杭州市 </li>
						<li>120.236.128.201:8060@HTTP#[未知]广东省广州市</li>
						<li>119.139.198.200:3128@HTTP#[未知]广东省深圳市 </li>
						<li>117.191.11.73:80@HTTP#[高匿]新疆 移动</li>
						<li>219.142.132.146:61233@HTTP#[未知]北京市 </li>
						<li>112.17.121.88:8060@HTTP#[未知]中国 移动</li>
						<li>125.123.120.83:9000@HTTP#[未知]浙江省嘉兴市 </li>
						<li>101.37.152.85:8888@HTTP#[未知]浙江省杭州市</li>
						<li>27.221.32.140:80@HTTP#[未知]山东省青岛市 </li>
						<li>111.77.100.164:8118@HTTP#[普匿]江西省萍乡市 </li>
						<li>140.143.65.146:8080@HTTP#[普匿]中国</li>
						<li>47.107.74.84:8888@HTTP#[未知]浙江省杭州市 </li>
						<li>115.231.5.230:44524@HTTP#[未知]浙江省绍兴市 </li>
						<li>59.108.125.241:8080@HTTP#[未知]北京市 方正宽带</li>
					</ul>
				</div>
			</div>

		</div>
		<div class="foot">

		</div>

	</body>
</html>
